
  <style>
    .search_box
    {
        padding:10px;
    }
    .search_input
    {
        width:500px;
    }
    .color-black
    {
        color: black;
    }

    .font-12px
    {
        font-size: 12px;
    }

    .font-16px
    {
        font-size: 16px;
    }

    .r_title
    {
        font-size: 18px;
    }
    .tip
    {
        font-size: 12px;
    }
    .row_result
    {
        margin-bottom: 23px;
    }
  </style>

<div style="margin-top: 70px;min-height: 500px">
  <%if @content and @content["results"] %>

      <% for result in @content["results"]%>
          <div class="col-lg-12 col-md-12 row_result">
         <a href="<%=result["url"]%>" target="_blank" class="r_title"> <%=result["title"].html_safe%></a>
         <span class="badge font-12px" style="background-color: rgb(204, 204, 204)"><%= result["visibleUrl"] %></span>
         <br>
         <div class="font-16px"><%=result["content"].html_safe%></div>
          <a class="color-black" href="<%=result["formattedUrl"].html_safe %>" target="_blank"> <%=result["formattedUrl"].html_safe %> </a>

           <br>
          </div>
      <% end %>

  <% end %>
</div>
